<!-- cart.html -->

{% for item in cart_items %}
    <div class="cart-item">
        <h3>{{ item.product.name }}</h3>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: {{ item.product.price }}</p>
        <button><a href="{% url 'increase_quantity' item.id %}">Add + </a></button>
        <button><a href="{% url 'decrease_quantity' item.id %}">Remove -</a></button>
    </div>
{% endfor %}

<p>Total Cost: {{ total_cost }}</p>

<button><a href="{% url 'checkout' %}">Checkout</a></button>
``
