<!DOCTYPE html>
<html>
    <body>
<h1> Welcome to Clickshop</h1>
<h4> Buy any product in one click</h6>
    <a href="{% url 'cart' %}">Go to Cart</a>

{% for product in products %}
    <div class="product-card">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Stock: {{ product.stock_quantity }}</p>
        {% if user.is_authenticated %}
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

</body>
</html>